<html>
	<head></head>
	<body>
		<table
			cellpadding="0"
			cellspacing="0"
			class="sc-gPEVay eQYmiW"
			style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;"
		>
			<tbody>
				<tr>
					<td>
						<table
							cellpadding="0"
							cellspacing="0"
							class="sc-gPEVay eQYmiW"
							style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;"
						>
							<tbody>
								<tr>
									<td style="vertical-align: top;">
										<table
											cellpadding="0"
											cellspacing="0"
											class="sc-gPEVay eQYmiW"
											style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;"
										>
											<tbody>
												<tr>
													<td
														class="sc-TOsTZ kjYrri"
														style="text-align: center;"
													>
														<img
															src="https://www.gulfmotorcycles.com/images/email/logo.gif"
															role="presentation"
															width="130"
															class="sc-cHGsZl bHiaRe"
															style="max-width: 130px; display: block;"
														/>
													</td>
												</tr>
												<tr>
													<td height="30"></td>
												</tr>
												<tr>
													<td style="text-align: center;">
														<table
															cellpadding="0"
															cellspacing="0"
															class="sc-gPEVay eQYmiW"
															style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial; display: inline-block;"
														>
															<tbody>
																<tr style="text-align: center;">
																	<td>
																		<a
																			href="https://www.facebook.com/gulfmotorcyclerepairs"
																			color="#ff2800"
																			class="sc-hzDkRC kpsoyz"
																			style="display: inline-block; padding: 0px; "
																			><img
																				src="https://www.gulfmotorcycles.com/images/email/fb.png"
																				alt="facebook"
																				color="#ff2800"
																				width="24"
																				height="24"
																				class="sc-bRBYWo ccSRck"
																				style=" max-width: 135px; display: block;"
																		/></a>
																	</td>
																	<td width="5"><div></div></td>
																	<td>
																		<a
																			href="https://twitter.com/gulfrepairs"
																			color="#ff2800"
																			class="sc-hzDkRC kpsoyz"
																			style="display: inline-block; padding: 0px; "
																			><img
																				src="https://www.gulfmotorcycles.com/images/email/tw.png"
																				alt="twitter"
																				color="#ff2800"
																				width="24"
																				height="24"
																				class="sc-bRBYWo ccSRck"
																				style=" max-width: 135px; display: block;"
																		/></a>
																	</td>
																	<td width="5"><div></div></td>
																	<td>
																		<a
																			href="https://www.instagram.com/gulfrepairs/"
																			color="#ff2800"
																			class="sc-hzDkRC kpsoyz"
																			style="display: inline-block; padding: 0px; "
																			><img
																				src="https://www.gulfmotorcycles.com/images/email/insta.png"
																				alt="instagram"
																				color="#ff2800"
																				width="24"
																				height="24"
																				class="sc-bRBYWo ccSRck"
																				style=" max-width: 135px; display: block;"
																		/></a>
																	</td>
																	<td width="5"><div></div></td>
																</tr>
															</tbody>
														</table>
													</td>
												</tr>
											</tbody>
										</table>
									</td>
									<td width="46"><div></div></td>
									<td style="padding: 0px; vertical-align: middle;">
										<h3
											color="#000000"
											class="sc-fBuWsC eeihxG"
											style="margin: 0px; font-size: 18px; color: rgb(0, 0, 0);"
										>
											<span>Faizan</span><span>&nbsp;</span><span>Shaikh</span>
										</h3>
										<p
											color="#000000"
											font-size="medium"
											class="sc-fMiknA bxZCMx"
											style="margin: 0px; color: rgb(0, 0, 0); font-size: 14px; line-height: 22px;"
										>
											<span>Manager</span><span>&nbsp;|&nbsp;</span
											><span>Operations</span>
										</p>
										<p
											color="#000000"
											font-size="medium"
											class="sc-dVhcbM fghLuF"
											style="margin: 0px; font-weight: 500; color: rgb(0, 0, 0); font-size: 14px; line-height: 22px;"
										>
											<span>Gulf Motorcycles</span>
										</p>
										<table
											cellpadding="0"
											cellspacing="0"
											class="sc-gPEVay eQYmiW"
											style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial; width: 100%;"
										>
											<tbody>
												<tr>
													<td height="10"></td>
												</tr>
												<tr>
													<td
														color="#434343"
														direction="horizontal"
														height="1"
														class="sc-jhAzac hmXDXQ"
														style="width: 100%; border-bottom: 1px solid rgb(67, 67, 67); border-left: none; display: block;"
													></td>
												</tr>
												<tr>
													<td height="10"></td>
												</tr>
											</tbody>
										</table>
										<table
											cellpadding="0"
											cellspacing="0"
											class="sc-gPEVay eQYmiW"
											style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;"
										>
											<tbody>
												<tr height="25" style="vertical-align: middle;">
													<td width="30" style="vertical-align: middle;">
														<table
															cellpadding="0"
															cellspacing="0"
															class="sc-gPEVay eQYmiW"
															style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;"
														>
															<tbody>
																<tr>
																	<td style="vertical-align: bottom;">
																		<span
																			color="#434343"
																			width="11"
																			class="sc-jlyJG bbyJzT"
																			style="display: block; "
																			><img
																				src="https://www.gulfmotorcycles.com/images/email/phone.png"
																				color="#434343"
																				width="13"
																				class="sc-iRbamj blSEcj"
																				style="display: block; "
																		/></span>
																	</td>
																</tr>
															</tbody>
														</table>
													</td>
													<td style="padding: 0px; color: rgb(0, 0, 0);">
														<a
															href="tel:+971 4 548 9786"
															color="#000000"
															class="sc-gipzik iyhjGb"
															style="text-decoration: none; color: rgb(0, 0, 0); font-size: 12px;"
															><span>+971 4 548 9786</span></a
														>
														|
														<a
															href="tel:0567644951"
															color="#000000"
															class="sc-gipzik iyhjGb"
															style="text-decoration: none; color: rgb(0, 0, 0); font-size: 12px;"
															><span>05 6764 4951</span></a
														>
													</td>
												</tr>
												<tr height="25" style="vertical-align: middle;">
													<td width="30" style="vertical-align: middle;">
														<table
															cellpadding="0"
															cellspacing="0"
															class="sc-gPEVay eQYmiW"
															style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;"
														>
															<tbody>
																<tr>
																	<td style="vertical-align: bottom;">
																		<span
																			color="#434343"
																			width="11"
																			class="sc-jlyJG bbyJzT"
																			style="display: block; "
																			><img
																				src="https://www.gulfmotorcycles.com/images/email/email.png"
																				color="#434343"
																				width="13"
																				class="sc-iRbamj blSEcj"
																				style="display: block; "
																		/></span>
																	</td>
																</tr>
															</tbody>
														</table>
													</td>
													<td style="padding: 0px;">
														<a
															href="mailto:parts@gulfmotorcycles.com"
															color="#000000"
															class="sc-gipzik iyhjGb"
															style="text-decoration: none; color: rgb(0, 0, 0); font-size: 12px;"
															><span>parts@gulfmotorcycles.com</span></a
														>
													</td>
												</tr>
												<tr height="25" style="vertical-align: middle;">
													<td width="30" style="vertical-align: middle;">
														<table
															cellpadding="0"
															cellspacing="0"
															class="sc-gPEVay eQYmiW"
															style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;"
														>
															<tbody>
																<tr>
																	<td style="vertical-align: bottom;">
																		<span
																			color="#434343"
																			width="11"
																			class="sc-jlyJG bbyJzT"
																			style="display: block; "
																			><img
																				src="https://www.gulfmotorcycles.com/images/email/motorcycle-repairs-dubai.png"
																				color="#434343"
																				width="13"
																				class="sc-iRbamj blSEcj"
																				style="display: block; "
																		/></span>
																	</td>
																</tr>
															</tbody>
														</table>
													</td>
													<td style="padding: 0px;">
														<a
															href="https://gulfmotorcycles.com"
															color="#000000"
															class="sc-gipzik iyhjGb"
															style="text-decoration: none; color: rgb(0, 0, 0); font-size: 12px;"
															><span>gulfmotorcycles.com</span></a
														>
													</td>
												</tr>
												<tr height="25" style="vertical-align: middle;">
													<td width="30" style="vertical-align: middle;">
														<table
															cellpadding="0"
															cellspacing="0"
															class="sc-gPEVay eQYmiW"
															style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;"
														>
															<tbody>
																<tr>
																	<td style="vertical-align: bottom;">
																		<span
																			color="#434343"
																			width="11"
																			class="sc-jlyJG bbyJzT"
																			style="display: block; "
																			><img
																				src="https://www.gulfmotorcycles.com/images/email/location-pin.png"
																				color="#434343"
																				width="13"
																				class="sc-iRbamj blSEcj"
																				style="display: block; "
																		/></span>
																	</td>
																</tr>
															</tbody>
														</table>
													</td>
													<td
														color="#000000"
														class="sc-csuQGl CQhxV"
														style="font-size: 12px; color: rgb(0, 0, 0);"
													>
														<span
															>Wh-45, MK Ghanim Compound,Opposite Al Ahli
															Driving Centre, Al Quoz 3, Dubai, UAE</span
														>
													</td>
												</tr>
											</tbody>
										</table>
										<table
											cellpadding="0"
											cellspacing="0"
											class="sc-gPEVay eQYmiW"
											style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;"
										>
											<tbody>
												<tr>
													<td height="30"></td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>
